@media (max-width: 640px) {
  button[data-carousel-go-next],
  button[data-carousel-go-prev] {
    display: none;
  }
}

.f-carousel__toolbar__column.is-right {
  border-radius: 9999px;
  overflow: hidden;
}

.fancybox__container .fancybox__backdrop {
  background-color: var(--color-black);
}
