@layer components {
  .inter {
    font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
  }
  .open-runde {
    font-family: 'Open Runde', ui-sans-serif, system-ui, sans-serif, 'Inter';
    font-weight: 400;
  }
  .montserrat {
    font-family: 'Montserrat', ui-sans-serif, system-ui, sans-serif, 'Inter';
    --text-lg: 1rem;
    --text-xl: 1.2rem;
    --text-2xl: 1.4rem;
    --text-3xl: 1.6rem;
    --text-4xl: 2rem;
  }
  .oswald {
    font-family: 'Oswald', ui-sans-serif, system-ui, sans-serif, 'Inter';
  }
  .caveat {
    font-family: 'Caveat', ui-sans-serif, system-ui, sans-serif, 'Inter';
    --text-lg: 1.4rem;
    --text-xl: 1.6rem;
    --text-2xl: 1.8rem;
    --text-3xl: 2.6rem;
    --text-4xl: 3rem;
  }
  .jetbrains-mono {
    font-family: 'JetBrains Mono', ui-sans-serif, system-ui, sans-serif, 'Inter';
    --text-lg: 1rem;
    --text-xl: 1.2rem;
    --text-2xl: 1.4rem;
    --text-3xl: 1.6rem;
    --text-4xl: 1.8rem;
  }
  .vollkorn {
    font-family: 'Vollkorn', ui-sans-serif, system-ui, sans-serif, 'Inter';
  }
  .gilroy {
    font-family: 'Gilroy', ui-sans-serif, system-ui, sans-serif, 'Inter';
  }
}
