@import "tailwindcss";

@import "./scrollbar.css";
@import "./themes.css";
@import "./fonts.css";
@import "./text-editor.css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-default: var(--default);
  --color-outline: var(--outline);
  --color-shadow: var(--shadow);

  --color-success: var(--success);
  --color-danger: var(--danger);
  --color-warning: var(--warning);
  --color-link: var(--link);

  --container-8xl: 114rem;
}

@layer base {
  :root {
    --smooth: 0.85;

    *:focus-visible {
      outline: 2px solid var(--foreground);
      outline-offset: 2px;
    }

    ::selection {
      background: var(--foreground);
      color: var(--background);
      text-shadow: none;
    }

    ::-moz-selection {
      background: var(--foreground);
      color: var(--background);
      text-shadow: none;
    }
  }

  button:not([disabled]) {
    @apply cursor-pointer;
  }
}
