/* Details styles (static renderer) */
.tiptap-static .details {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  position: relative;
}

.tiptap-static .details[open] {
  gap: 0.5rem;
}

.tiptap-static .details:first-child {
  margin-top: 0;
}

.tiptap-static .details:last-child {
  margin-bottom: 0;
}

.tiptap-static .details > summary {
  padding-left: 1.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  list-style: none;
  cursor: pointer;
  position: relative;
}

.tiptap-static .details > summary::-webkit-details-marker {
  display: none;
}

.tiptap-static .details > summary::marker {
  content: "";
}

.tiptap-static .details > summary::before {
  content: "";
  display: inline-block;
  width: 1.25rem;
  aspect-ratio: 1 / 1;
  background-color: var(--foreground);
  mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWNoZXZyb24tZG93bi1pY29uIGx1Y2lkZS1jaGV2cm9uLWRvd24iPjxwYXRoIGQ9Im02IDkgNiA2IDYtNiIvPjwvc3ZnPg==");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  transition:
    transform 0.15s ease-in-out,
    opacity 0.15s ease-in-out;
  opacity: 0.5;
  position: absolute;
  top: 0.125rem;
  left: 0;
  line-height: 1;
}

.tiptap-static .details[open] > summary::before {
  transform: rotate(180deg);
}

.tiptap-static .details > summary:hover::before {
  opacity: 1;
}

.tiptap-static .details > [data-type="detailsContent"] {
  border-left-width: 1px;
  border-left-style: solid;
  border-color: color-mix(in srgb, var(--foreground), transparent 80%);
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-left: 18px;
  margin-left: 9px;
}

.tiptap-static .details > [data-type="detailsContent"] > :last-child {
  margin-bottom: 0.5rem;
}

.tiptap-static
  .details
  > [data-type="detailsContent"]:last-child
  > :last-child {
  margin-bottom: 0;
}

.tiptap-static .details .details {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
